.task-states {
  flex-shrink: 0;
  position: relative;

  width: $task-width;
  padding-top: 1rem;
  padding-bottom: 1rem;

  background-color: grey;
}

.nav-states {
  display: flex;
  -webkit-display: flex;
  justify-content: space-around;
  border-bottom: 2px solid red;
}
.task-add {

  h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 1rem;
    padding-left: 1rem;
    border-top: 2px solid red;
  }
  
}

.task-state li{
  line-height: 1.7rem;
  padding-left: 1rem;
}